In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("ecommerce_dataset.csv")

In [3]:
df.head()

,order_id,customer_id,gender,age,city,product_category,product_price,quantity,payment_method,order_date,total_amount
0,1,1102,Female,23,Mansoura,Sports,3668.26,4,Cash,2023-11-30,14673.04
1,2,1435,Female,34,Cairo,Books,4260.08,5,Credit Card,2023-11-05,21300.40
2,3,1860,Female,55,Mansoura,Books,288.35,4,Cash,2023-01-16,1153.40
3,4,1270,Male,41,Aswan,Books,2549.56,1,Debit Card,2023-07-08,2549.56
4,5,1106,Male,27,Alexandria,Books,3508.06,1,Credit Card,2023-01-28,3508.06

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          5000 non-null   int64
 1   customer_id       5000 non-null   int64
 2   gender            5000 non-null   str
 3   age               5000 non-null   int64
 4   city              5000 non-null   str
 5   product_category  5000 non-null   str
 6   product_price     5000 non-null   float64
 7   quantity          5000 non-null   int64
 8   payment_method    5000 non-null   str
 9   order_date        5000 non-null   str
 10  total_amount      5000 non-null   float64
dtypes: float64(2), int64(4), str(5)
memory usage: 429.8 KB

In [5]:
df.dtypes

order_id              int64
customer_id           int64
gender                  str
age                   int64
city                    str
product_category        str
product_price       float64
quantity              int64
payment_method          str
order_date              str
total_amount        float64
dtype: object

In [6]:
df.isna().sum()

order_id            0
customer_id         0
gender              0
age                 0
city                0
product_category    0
product_price       0
quantity            0
payment_method      0
order_date          0
total_amount        0
dtype: int64

In [7]:
df["order_date"].dtypes

In [8]:
df["order_date"] = pd.to_datetime(df["order_date"])

In [9]:
df["order_date"].dtype

dtype('<M8[us]')

In [10]:
df["month"] = df["order_date"].dt.month

In [11]:
df["month"]

0       11
1       11
2        1
3        7
4        1
        ..
4995     6
4996    12
4997    12
4998     8
4999     7
Name: month, Length: 5000, dtype: int32

In [12]:
df["year"] = df["order_date"].dt.year

In [13]:
df["year"]

0       2023
1       2023
2       2023
3       2023
4       2023
        ...
4995    2023
4996    2023
4997    2023
4998    2023
4999    2023
Name: year, Length: 5000, dtype: int32

In [14]:
df["age_group"] = pd.cut(df["age"],3)

In [15]:
df["age_group"]

0       (17.954, 33.333]
1       (33.333, 48.667]
2         (48.667, 64.0]
3       (33.333, 48.667]
4       (17.954, 33.333]
              ...
4995      (48.667, 64.0]
4996    (33.333, 48.667]
4997    (33.333, 48.667]
4998      (48.667, 64.0]
4999    (17.954, 33.333]
Name: age_group, Length: 5000, dtype: category
Categories (3, interval[float64, right]): [(17.954, 33.333] < (33.333, 48.667] < (48.667, 64.0]]

In [16]:
df["city"].value_counts().head(5)

city
Mansoura      1040
Aswan         1020
Giza          1020
Cairo          983
Alexandria     937
Name: count, dtype: int64

In [17]:
df.groupby("city")["quantity"].mean()

city
Alexandria    2.983991
Aswan         3.043137
Cairo         3.016277
Giza          3.053922
Mansoura      3.083654
Name: quantity, dtype: float64

In [24]:
df.groupby("customer_id")["total_amount"].sum().sort_values(ascending=False).head(10)

customer_id
1663    126320.88
1726    122962.74
1400    121427.62
1098    121368.49
1647    112913.86
1074    112460.88
1928    110692.42
1839    109407.41
1957    104548.77
1684    104524.28
Name: total_amount, dtype: float64

In [19]:
pd.crosstab(df["city"],df["product_category"])

product_category  Books  Clothing  Electronics  Home  Sports
city
Alexandria          157       195          198   197     190
Aswan               213       198          205   203     201
Cairo               195       196          205   190     197
Giza                197       227          209   193     194
Mansoura            216       231          205   196     192

In [20]:
df.groupby("customer_id")["total_amount"].max()

customer_id
1000    21783.05
1001    18692.50
1002     8165.50
1003     9041.74
1004    15771.60
          ...
1995    11241.92
1996    21762.30
1997    19795.92
1998    24742.30
1999    10534.23
Name: total_amount, Length: 989, dtype: float64

In [25]:
df["customer_id"].nunique()

989

In [22]:
df["payment_method"].value_counts().idxmax()

'Debit Card'

In [26]:
df.groupby("month")["total_amount"].sum().idxmax()

np.int32(7)

In [27]:
df.groupby("product_category")["quantity"].mean()

product_category
Books          3.091002
Clothing       3.071633
Electronics    3.004892
Home           2.982635
Sports         3.035934
Name: quantity, dtype: float64

In [28]:
df.groupby("gender")["total_amount"].sum()

gender
Female    19662741.58
Male      19560510.21
Name: total_amount, dtype: float64

In [29]:
clv = df.groupby("customer_id")["total_amount"].sum()

In [30]:
clv = df.groupby("customer_id")["total_amount"].sum()

df_clv = clv.reset_index()

df_clv["segment"] = pd.cut(
    df_clv["total_amount"],
    bins=3,
    labels=["Low", "Medium", "High"]
)